
    <div class="img-zoom card shadow-sm ">
      <!--<svg class="bd-placeholder-img card-img-top" width="25%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
     --> 
      <img class=" bd-placeholder-img heightLimit" src='{{"assets/images/"+equipamento.img+".jpg"}}' alt="">
      <div class="card-body ">
        <p class="justificartext">    {{equipamento.description}}    </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
          </div>
          <small class="text-muted">2 reads</small>
        </div>
      </div>
    </div>

