 <!-- START THE FEATURETTES -->

 <hr class="featurette-divider">

    <div class="row-img-care ">
        <div class="item-dica-img">
            <img class="img-fluid limite-img-care" src="assets/images/cor-1.gif" alt="">
        </div>
        <div class="col-md-5 item-dicas-text">
            <p class="lead">
                A expressão “ataque cardíaco” é de conhecimento popular e refere-se a doença conhecida 
                cientificamente como infarto do miocárdio que tem como principal motivo a interrupção ou 
                diminuição do fluxo de sangue para o coração.
                <br><br>
            
                O sangue, dinamicamente controlado de forma primordial pelo coração, distribui diferentes nutrientes essenciais para a vida das células e órgãos do corpo humano, como o oxigênio. Existem diferentes condições para que essa dinâmica de fluxo do sangue seja comprometida e, consequentemente, ocorra um infarto do miocárdio. A principal delas é a aterosclerose, caracterizada pelo acúmulo de gordura nas paredes das artérias. Existem alguns fatores que todo o ser humano pode controlar para evitar a aterosclerose e o possível infarto. Veja alguns destes fatores: 
            </p>
        </div>

        <div class="item-dicas-text">
            <h1>1.	Colesterol em níveis elevados</h1>
            <ol>
                <li>Colesterol alto, como é popularmente conhecido, e dislipidemia, conhecido cientificamente, significa um nível elevado de lipídios (biomoléculas orgânicas caracterizadas por serem insolúveis em água).</li>
                <li>Um dos varios lipídos existentes é o colesterol, que tem como um dos objetivos ajudar o organismo a absorver gorduras e vitaminas, sintetizar vitamida D e vários hormônios. </li>
                <li>É importante entender que o organismo produz todo o colesterol de que necessita, mas também pode obtê-lo a partir dos alimentos.</li>
                <li>d.	Qual o problema de colesterol em níveis elevados:             
                </li>
                <li class="sub">
                    i.	“Um nível elevado de colesterol no sangue não é um problema em curto prazo, é um problema se for mantido por muito tempo, o que acelera o desenvolvimento da aterosclerose. A aterosclerose é um processo degenerativo arterial, que é um endurecimento e estreitamento das artérias que transportam o sangue para diferentes órgãos e partes do corpo.” 
                    <a href="https://www.doctoralia.com.br/doencas/hipercolesterolemia-niveis-elevados-de-colesterol">Fonte: Doctoralia.</a> 
                </li>
            </ol>

            <div>
                <h1>2.	Diabetes mellitus</h1>
                <ol>
                    <li>Entender o diabetes mellitus exige a compreensão da importância da insulina no organismo. A insulina é um hormônio, produzido naturalmente pelo corpo humano, e que tem como objetivo transformar carboidrados ingeridos pelo ser humano em energia, em especial o carboidrato monossacarídeo conhecido como glicose.</li>
                    <li>Diabetes  mellitus tem relação direta com a ação do hormônio insulina no organismo, condicionada pela ausência de produção de insulina ou produção insuficiente de insulina. Dessa forma, o diabetes é uma doença caracterizada pela alteração na quantidade de glicose no sangue (hiperclicemia) devido a alteração da quantidade de insulina. </li>
                    <li>Uma das relação do diabetes mellitus com o infarto do miocárdio está na perda de propriedades protetoras por parte do reverstimento interno da artéria, o que permite que outras células entrem no vaso. Isso é conhecido como disfunção endotelial e tem como uma das consequências a maior propensão em serem formadas placas de gorduras nas arterias. </li>
                        <a href="https://drauziovarella.uol.com.br/doencas-cronicas/diabetes/por-que-diabetes-aumenta-risco-de-doencas-cardiovasculares/">Fonte: Drauzio.uol.</a> 
                </ol>
            </div>

            <div>
                <h1>3.	Pressão alta (hipertensão arterial sistêmica)</h1>
                <ol>
                    <li>A pressão arterial está relacionada à força sobre área, neste caso,  força com que o sangue é empurrado contra as paredes das artérias durante o processo de circulação sanguínea. Existem valores de pressão considerados normais para cada faixa de idade. (Exemplo: em um adulto, deve estar abaixo de 140/90 mmHg - popularmente falado como 14 x 9). </li>
                    <li>Em uma situação de pressão alta, este valor ultrapassa o limite de forma contínua. </li>
                    <li class="sub">
                        i.	Um exemplo simples que pode ajudar a entender, mas que não explica todo o fenômeno da hipertensão e todas as suas consequências, é quando você tenta interromper o fluxo de água de uma mangueira com o dedo. Se esta mangueira não possuir paredes suficientemente fortes para suportar o aumento de pressão interno, elas podem romper. 
                    </li>
                    <li>A relação da pressão aterial comprometida com o infarto do miocárdio ocorre em função do comprometimento do fluxo sanguíneo em função da alteração dos valroes de pressão e suas consequencias </li>
                        <a href="https://www.hcor.com.br/imprensa/noticias/diabetes-e-uma-das-principais-causas-para-doencas-no-coracao/#:~:text=O%20risco%20de%20um%20diab%C3%A9tico,alta%20e%20o%20colesterol%20elevado.">Fonte: Portal HCOR</a> 
                </ol>
            </div>
            <h1 style="text-align: center;">Dicas de como evitar estes problemas.</h1>
            <div class="item-dica-img">
                <img class="img-fluid limite-img-care" src="assets/images/slide-3.jpg" alt="">

                    <ul>
                        <p>
                        <br>
                        Veja algumas das boas práticas de saude: 
                        <li>Seguir uma dieta balanceada, rica em frutas, hortaliças, grãos integrais, etc..</li>
                        <li>Praticar atividades físicas regularmente</li>
                        <li>Manter um peso saudável</li>
                        </p>
                    </ul>
                        
            </div>

        </div>
        




    </div>

    

<!---->
 
 <!-- /END THE FEATURETTES -->
