<div class="w-100 p-3 bg-dark text-white page-a" > <!--bg-dark-->
    <div>
      <h1>MedicalDesfribStory.</h1>
      <p class="lead">
          Descubra como uma descoberta secular deu origem a um equipamento médico responsável por salvar milhares de vidas, 
          e se divirta conhecendo, através de um simulador, os princípios básicos do primeiro desfribilador portátil do mundo. </p>
      <p class="lead">
        <a routerLink="/home" class="btn btn-lg btn-light btn-person">Entrar</a>
      </p>
    </div>
   
</div>
<!--<canvas id="linha-dinamica" style="background-color: bisque; width: 100%; height: 600px; position: absolute;"></canvas>
-->
<app-footer></app-footer>
