<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse nav-bar" id="navbarNav">
      <ul class="navbar-nav btn-lg">
        <li class="">
          <a class="btn btn-primary nav-bar" aria-current="page" routerLink="/home">início</a>
        </li>
        <li class="">
          <a class="btn " routerLink="/helthcare">prevenção</a>
        </li>
        <li class="">
          <a class="btn " routerLink="/evolution">história</a>
        </li>

      </ul>
    </div>
  </div>
</nav>