
<app-nav-bar></app-nav-bar>
<div >
    <div class="w-100 p-3  bg-dark text-white page-history-title">
        <h2 class="">Em 1930, foi criado o primero desfribilador. </h2>
        <p class="lead"> 
           Você conheçe a história do DEA? O Desfribilador externo automático (DEA) é um aparelho com objetivo claro: tentar reestabelecer o ritmo cardíaco.
        </p>
    </div>
    <br>

    <div class="page-history-div">
        
        
        <ul>
            <li>1899: <b>Origens e Descobertas: </b>
                <i> O processo de desfribilação foi descoberto pelos fisiologistas suíços, 
                Jean-Luis Prevost e Frederik Batelli, durante suas pesquisas sobre fibrilação ventricular (FV) 
                em animais. Eles descobriram que podiam induzir essa arritmia aplicando choques 
                diretamente no coração e que aplicando novos choques com carga ainda maior poderiam revertê-la.</i></li>
            <li>1930: <b>Origens:</b>
                <i> O desfribilidador foi usado pela primeira vez em 1930, por William B. Kouwenhoven, 
                para sacrificar cães de rua. No entando, perceberam que ao dar um segundo choque, o animal voltava à vida!</i>
            </li>
            <li>1947: <b>Utilizado pela primeira vez em humanos:</b>
                <i> O DEA foi usado em um humano durante uma cirurgia em um menino de 14 anos, por Dr. Claude S. Beck, em que o paciente apresentou retorno da circulação espontânea com sucesso.</i>
            </li>
            <br>
            
            </ul>

            
        
    </div>


    <div class="page-history-col">
        
            <img class="page-history-img" src="assets/images/DEA.png" alt="">
            <div class="page-history-text">
            1965: <b>DEA portátil: </b>O DEA portátil foi criado em 1965, pelo professor Frank Pantridge.
            <i>que sugeriu que os problemas cardíacos que levam à parada cardiorrespiratória deveriam ser resolvidos no lugar onde acontecessem, 
            fosse no trabalho, em casa ou na rua. Foi assim que, com a ajuda de outras duas pessoas, ele inventou o primeiro desfribilador 
            portátil do mundo, que usava as baterias dos automóveis.</i>
            </div>
    </div>

    <div class="w-100 p-3  bg-dark text-white page-history-title">
        <h2 class="">Em 1990, foi criado o primero desfribilador. </h2>
        <p class="lead">Imagina quantas vidas foram salvas? Muitas, é claro. Mais impressionante mesmo foi o ocorrido em janeiro de 2022, onde um drone carregando um desfibrilador salvou a vida de uma pessoa.</p>
    </div>
    <br>
    <div class="page-history-col">
        
        <img class="page-history-img" src="assets/images/droneEdesfribilador.jpg" alt="">
        <div class="page-history-text">
        2022: <b>Drone carrega um desfibriliador e ajuda a salva uma vida: </b>
        
        <i>Isso ocorreu na cidade sueca chamada Trollhättan, onde um homem de 71 anos teve 
            um ataque cardíaco em quanto limpava a neve de sua garagem e acabou 
            recebendo a ajuda crucial do desfribilador que chegou no local em um tempo 
            tão crucial quanto. A rápida chegada do aparelho ao local foi vital, 
            uma vez que, conforme mencionado na história pelo inventor do desfribilador portátil : 
            <b>"... os problemas cardíacos que levam à parada cardiorrespiratória deveriam ser resolvidos no lugar onde acontecessem, fosse no trabalho, em casa ou na rua. " </b></i>
            <a href="https://olhardigital.com.br/2022/01/06/carros-e-tecnologia/drone-carregando-um-desfibrilador-salva-a-vida-de-uma-pessoa/"> Fonte: Olhar Digital, 2022.</a>
        </div>
</div>

</div>
<app-footer-info></app-footer-info>